.ammonite/
.bloop/
.bsp/
.dotty-ide*
.idea/
.metals/
.vscode/
.DS_Store
*.worksheet.sc
metals.sbt
target/
website
project/target
project/.bloop/

boot/
lib_managed/
src_managed/
project/plugins/project/
it/src/test/resources/testrail-auth.conf
